.Button{
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    white-space: nowrap;
}

.Button default {
    background-color: #ededed;
    color: black;
}

.Button_positive {
    background-color:#228B22;
    color: white;
}

.Button_negative {
    background-color: #556B2F;
    color:white;

}