 
 .CashList {
  display: flex;
  overflow-x: auto; 
  gap: 16px;
  padding: 16px;
  scroll-behavior: smooth;
}

.CashList::-webkit-scrollbar {
  height: 8px;
}

.CashList::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}
